body {
  margin: 0;
  padding: 0;
  background-color: #0A1117;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  height: 56px;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 16px;
}
header .header-container .header-nav, header .header-container .button {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 328px;
  margin: 0 auto;
}
main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .hero h1, main .hero p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
main .hero h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
main .hero p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 16px;
}
main .hero .hero-button button {
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 46px;
  border-radius: 12px;
  background-color: #FFCF01;
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}
main .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
main .projects h1, main .projects p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
main .projects h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
main .projects .projects-examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  max-width: 328px;
  justify-content: center;
  gap: 8px;
}
main .projects .projects-examples .project {
  display: inline-flex;
  height: 40px;
  padding: 12px 14px;
  border-radius: 45px;
  background: #182632;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
main .projects .projects-examples .project1, main .projects .projects-examples .project6 {
  color: #FFB4D3;
}
main .projects .projects-examples .project2 {
  color: #FFC24C;
}
main .projects .projects-examples .project3 {
  color: #D387F7;
}
main .projects .projects-examples .project4 {
  color: #77E6FF;
}
main .projects .projects-examples .project5 {
  color: #23C9DE;
}
main .projects .projects-examples .more {
  color: #707F8D;
}
main .projects .projects-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 24px;
}
main .projects .projects-album img {
  border-radius: 24px;
}
main .projects .projects-album button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #FFCF01;
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  translate: 0 305px;
}
main .designed-for {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .designed-for h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
}
main .designed-for div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .designed-for div .design-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #37424D;
  margin: 0;
  transform: scale(1);
  transition-duration: 250ms;
}
main .designed-for div .design-paragraph:active {
  color: #23C9DE;
  transform: scale(1.2);
}

@media (min-width: 760px) {
  header {
    height: 86px;
  }
  header .header-container {
    width: 736px;
    max-width: none;
    padding: 0;
  }
  header .header-container .header-nav, header .header-container .button {
    display: block;
  }
  header .header-container .header-hamburguer {
    display: none;
  }
  header .header-container .header-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 24px;
  }
  header .header-container .login-button button {
    width: 67px;
    height: 31px;
    border-radius: 8px;
    background-color: #243241;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 16px;
    display: inline-flex;
    gap: 12px;
    transform: scale(1);
    transition-duration: 1s;
  }
  header .header-container .login-button button:hover {
    background-color: #5d84ad;
    cursor: pointer;
    transform: scale(1.2);
  }
  main {
    max-width: 736px;
  }
  main .hero h1 {
    font-size: 56px;
    line-height: 60px;
  }
  main .hero p {
    font-size: 20px;
    line-height: 34px;
  }
  main .hero .hero-button button {
    width: 176px;
    height: 56px;
    font-size: 17px;
    transform: scale(1);
    transition-duration: 1s;
  }
  main .hero .hero-button button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  main .projects .projects-br {
    display: none;
  }
  main .projects h1 {
    font-size: 36px;
    line-height: 36px;
  }
  main .projects .projects-examples {
    max-width: 720px;
    gap: 20px;
  }
  main .designed-for div .design-paragraph {
    transition-duration: 500ms;
  }
  main .designed-for div .design-paragraph:hover {
    color: #23C9DE;
    transform: scale(1.2);
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */