body {
  margin: 0;
  padding: 0;
  background-color: #0A1117;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  height: 56px;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 16px;
}
header .header-container .header-nav, header .header-container .button {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 328px;
  margin: 0 auto;
}
main .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .hero h1, main .hero p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
main .hero h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
main .hero p {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 16px;
}
main .hero .hero-button button {
  margin-top: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 46px;
  border-radius: 12px;
  background-color: #FFCF01;
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}
main .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
main .projects h1, main .projects p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
main .projects h1 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
main .projects .projects-examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  max-width: 328px;
  justify-content: center;
  gap: 8px;
}
main .projects .projects-examples .project {
  display: inline-flex;
  height: 40px;
  padding: 12px 14px;
  border-radius: 45px;
  background: #182632;
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
main .projects .projects-examples .project1, main .projects .projects-examples .project6 {
  color: #FFB4D3;
}
main .projects .projects-examples .project2 {
  color: #FFC24C;
}
main .projects .projects-examples .project3 {
  color: #D387F7;
}
main .projects .projects-examples .project4 {
  color: #77E6FF;
}
main .projects .projects-examples .project5 {
  color: #23C9DE;
}
main .projects .projects-examples .more {
  color: #707F8D;
}
main .projects .projects-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 24px;
}
main .projects .projects-album img {
  border-radius: 24px;
}
main .projects .projects-album button {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #FFCF01;
  box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.2);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  translate: 0 305px;
}
main .designed-for {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .designed-for h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin-top: 65px;
}
main .designed-for div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .designed-for div .design-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #37424D;
  margin: 0;
  transform: scale(1);
  transition-duration: 250ms;
}
main .designed-for div .design-paragraph:active {
  color: #23C9DE;
  transform: scale(1.2);
}
main .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .app h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0;
}
main .app div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 12px;
  margin-top: 24px;
}
main .app div p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.976px;
  color: #8395A7;
}
main .app div p:nth-child(1) {
  color: #FFC803;
}
main .app .watch-button button {
  padding: 4px 29px 4px 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 44px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 207, 1, 0.15);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  color: #FFCF01;
}
main .works-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .works-with h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0;
}
main .works-with .icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 24px;
  margin-top: 24px;
}
main .works-with .icons-container .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .works-with .icons-container .icon div {
  display: flex;
  width: 84px;
  height: 84px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 0.957px solid #2A3744;
  background: #121E28;
}
main .works-with .icons-container .icon p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.976px;
  color: #fff;
  margin: 0;
  margin-top: 12px;
}
main .masters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .masters h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0;
}
main .masters .masters-gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 0 20px;
  justify-content: center;
  gap: 16px;
  margin-top: 33px;
}
main .masters .masters-gallery .masters-photo {
  width: 73px;
  height: 73px;
  border-radius: 15px;
}
main .masters .masters-gallery .photo1 {
  background-image: url(../assets/img/person_03.png);
  background-size: cover;
}
main .masters .masters-gallery .photo2 {
  background-image: url(../assets/img/person_04.png);
  background-size: cover;
}
main .masters .masters-gallery .photo3 {
  background-image: url(../assets/img/person_05.png);
  background-size: cover;
}
main .masters .masters-gallery .photo4 {
  background-image: url(../assets/img/person_01.png);
  background-size: cover;
}
main .masters .masters-gallery .photo5 {
  background-image: url(../assets/img/person_02.png);
  background-size: cover;
}
main .masters .masters-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 35px;
}
main .masters .masters-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  margin: 0 5px;
}
main .digest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  height: 280px;
  background-color: #14212D;
  border: 1px solid #2A3744;
  border-radius: 22px;
  margin-top: 80px;
}
main .digest h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  margin: 0;
  margin-top: 28px;
}
main .digest p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #9AAFC3;
  padding: 0 24px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 24px;
}
main .digest input {
  width: 80%;
  background: #121E28;
  padding: 13px 18px;
  border-radius: 10px;
  border: 1px solid #2A3744;
  font-family: "Montserrat", sans-serif;
  color: #3D4C5B;
  margin-bottom: 16px;
}
main .digest a {
  width: 90%;
}
main .digest a button {
  width: 100%;
  border-radius: 10px;
  background-color: #E2C1F9;
  padding: 13px 18px;
  color: #10151A;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
main .press {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .press h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 24px;
}
main .press .press-card {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 262px;
  border-radius: 20px;
  background-color: #77E6FF;
  margin-bottom: 16px;
}
main .press .press-card img {
  width: 192px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
}
main .press .press-card p:nth-child(3) {
  color: #10151A;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin: 0 20px;
  margin-top: 8px;
}
main .press .press-card p:nth-child(2) {
  color: #10151A;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0 20px;
  margin-top: 12px;
}
main .press .press-card a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}
main .press .press-card a p {
  margin-right: 8px;
  color: #10151A;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main .press .press-card2 {
  background-color: #E2C1F9;
}
main .press .press-card3 {
  background-color: #DBE268;
}
main .press a {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .press a p {
  margin-right: 8px;
  color: #8395A7;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.6);
}
main .podcasts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .podcasts h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 24px;
}
main .podcasts .podcasts-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #2A3744;
  background: #121E28;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 328px;
  height: 236px;
}
main .podcasts .podcasts-card img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
main .podcasts .podcasts-card .podcast-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin: 16px 20px 12px;
  opacity: 1;
}
main .podcasts .podcasts-card p {
  font-family: "Montserrat", sans-serif;
  color: #E2E2E2;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  opacity: 0.8;
  margin: 0 20px;
}
main .podcasts .podcasts-card a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}
main .podcasts .podcasts-card a p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
  margin-right: 4px;
}
main .podcasts .podcasts-card-bigger {
  height: 260px;
  margin: 16px 0;
}
main .podcasts a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
main .podcasts a p {
  margin-right: 8px;
  color: #8395A7;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.6);
}
main .ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
main .ideas h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  margin: 0;
}
main .ideas p {
  color: #5A6C7E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-top: 12px;
}
main .ideas .ideas-card {
  width: 200px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  margin-top: 32px;
}
main .ideas .ideas-card img {
  width: 44px;
  height: 44px;
}
main .ideas .ideas-card div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-left: 12px;
}
main .ideas .ideas-card div .ideas-card-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
main .ideas .ideas-card div p {
  color: #4D3705;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
main .ideas .telegram {
  background-color: #FFC803;
}
main .ideas .email {
  background-color: #E2C1F9;
  margin-top: 16px;
  margin-bottom: 80px;
}
main .ideas .email div p {
  color: #40354B;
}

@media (min-width: 760px) {
  header {
    height: 86px;
  }
  header .header-container {
    width: 736px;
    max-width: none;
    padding: 0;
  }
  header .header-container .header-nav, header .header-container .button {
    display: block;
  }
  header .header-container .header-hamburguer {
    display: none;
  }
  header .header-container .header-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap: 24px;
  }
  header .header-container .login-button button {
    width: 67px;
    height: 31px;
    border-radius: 8px;
    background-color: #243241;
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 16px;
    display: inline-flex;
    gap: 12px;
    transform: scale(1);
    transition-duration: 1s;
  }
  header .header-container .login-button button:hover {
    background-color: #5d84ad;
    cursor: pointer;
    transform: scale(1.2);
  }
  main {
    max-width: 736px;
  }
  main .hero h1 {
    font-size: 56px;
    line-height: 60px;
  }
  main .hero p {
    font-size: 20px;
    line-height: 34px;
  }
  main .hero .hero-button button {
    width: 176px;
    height: 56px;
    font-size: 17px;
    transform: scale(1);
    transition-duration: 1s;
  }
  main .hero .hero-button button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  main .projects .projects-br {
    display: none;
  }
  main .projects h1 {
    font-size: 36px;
    line-height: 36px;
  }
  main .projects .projects-examples {
    max-width: 720px;
    gap: 20px;
  }
  main .designed-for div .design-paragraph {
    text-align: center;
    transition-duration: 500ms;
    font-size: 32px;
    line-height: 50px;
  }
  main .designed-for div .design-paragraph:hover {
    color: #23C9DE;
    transform: scale(1.2);
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */