@media (min-width: 1024px) {//media para pantallas igual o mayor a 760px
    
    header{
        height: 104px;//Se ajusta el nuevo height del header para tablet y desktop

        .header-container{//Se ajusta el nuevo size del contenido del header
            width: 1140px;
            max-width: none;
            padding: 0;

            .header-logo-desktop{
                display: contents;
            }

            .header-logo-mobile{
                display: none;
            }

            .header-nav, .button{//Se despliega el nav-bar y login button
                display: contents;
            }

            .header-hamburguer{//Se oculta el menu hamburguer
                display: none;
            }

            .header-nav{//Se dan estilos al nav-bar para que se imprima correctamente
                ul{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    list-style: none;
                    color: $main-text-color;
                    font-family: $principal-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    gap: 44px;
                }
            }

            .login-button{//Damos estilos al login-button
                button{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 92px;
                    height: 44px;
                    border-radius: 12px;
                    background-color: #243241;
                    border: none;
                    color: white;
                    font-family: $principal-font;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    padding: 8px 16px;
                    display: inline-flex;
                    gap: 12px;
                    transform: scale(1);
                    transition-duration: 250ms;
                }

                button:hover{//cuando pasemos el cursor por el login-button, este hara las sig. acciones
                    background-color: #5d84ad;
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

    main{
        max-width: 1140px;
        margin-top: 132px;
        .hero{
            h1{
                font-size: 72px;
                line-height: 82px;
            }
            p{
                font-size: 26px;
                line-height: 46px;
                margin-top: 32px;

                .desktop-br{
                    display: initial;
                }
            }
            .hero-button{
                margin-top: 56px;

                button{
                    width: 214px;
                    height: 68px;
                    border-radius: 16px;
                    font-size: 20px;
                    line-height: 36px;
                    transform: scale(1);
                    transition-duration: 250ms;
                }
                button:hover{//cuando pasemos el cursor por el login-button, este hara las sig. acciones
                    cursor: pointer;
                    transform: scale(1.2);
                }
                
            }
        }

        .projects, .designed-for, .app, .works-with, .masters, .ideas{
            h2{
                font-size: 54px;
                line-height: 80px;
                br{
                    display: none;
                }
            }
        }

        .projects{
            margin-top: 204px;

            .projects-examples{
                max-width: 890px;
                gap: 24px;
                margin-top: 44px;

                .project{
                    height: 56px;
                    padding: 8px 26px;
                    font-size: 20px;
                    line-height: 40px;
                    align-items: center;
                }
            }

            .projects-album{
                display: none;
            }
            .projects-album__desktop{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin-top: 52px;
    
                img{
                    border-radius: 30px;
                }
                button{
                    position: absolute;
                    //Posicionamiento
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    //shapes & sizes
                    border-radius: 100px;
                    //colors
                    background-color: #FFCF01;
                    box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
                    //fonts
                    font-family: $principal-font;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 32px;
                    translate: 0 475px;
                    padding: 6px 24px;
                }
            }
        }

        .designed-for{
            margin-top: 178px;

            div{
                gap: 20px;

                .design-paragraph{
                    font-size: 54px;
                    line-height: 64px;
                }
                .design-paragraph:hover{
                    color: #23C9DE;
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }

        .app{
            margin-top: 200px;

            div{
                column-gap: 40px;
                margin-top: 42px;

                p{
                    font-size: 22px;
                    line-height: 40px;
                }
                p:nth-child(1){
                    color: #8395A7;
                }
                p:hover{
                    color: #FFC803;
                    cursor: pointer;
                }
            }

            .app-img__mobile{
                display: none;
            }

            .app-img__desktop{
                display: flex;
                margin-top: 46px;
            }

            .watch-button{
                margin-top: 44px;
                button{
                    padding: 16px 56px 16px 48px;
                    width: 280px;
                    height: 68px;
                    font-size: 20px;
                    line-height: 36px;
                    transform: scale(1);
                    transition-duration: 250ms;
                }
                button:hover{
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }

        .works-with{
            margin-top: 200px;

            .icons-container{
                column-gap: 36px;
                margin-top: 44px;

                .icon{
                    transform: translateY(0);
                    transition-duration: 250ms;
                    div{
                        width: 158px;
                        height: 158px;

                        .works-with-icon__desktop{
                            display: flex;
                        }

                        .works-with-icon__mobile{
                            display: none;
                        }
                    }
                    p{
                        font-size: 22px;
                        line-height: 40px;
                    }
                }
                .icon:hover{
                    transform: translateY(-20px);
                    cursor: pointer;
                    p{
                        color: #23C9DE;
                    }
                }
            }
        }

        .masters{
            margin-top: 200px;

            .masters-content{
                display: none;
            }
            
            .masters-gallery{
                flex-wrap: wrap;
                column-gap: 25px;
                margin-top: 44px;

                .masters-photo{
                    width: 160px;
                    height: 160px;
                }
                .photo1{
                    background-image: url(../assets/img/person_01-desktop.png);
                }
                .photo2{
                    background-image: url(../assets/img/person_02-desktop.png);
                }
                .photo3{
                    background-image: url(../assets/img/person_03-desktop.png);
                }
                .photo4{
                    background-image: url(../assets/img/person_04-desktop.png);
                }
                .photo5{
                    background-image: url(../assets/img/person_05-desktop.png);
                }
                .photo6{
                    background-image: url(../assets/img/person_06-desktop.png);
                }
            }

            .masters-content__desktop{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 25px;
                margin-top: 48px;
                padding: 0 20px;

            p{
                font-family: $principal-font;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $main-text-color;
                margin: 0 5px;
            }
            }
        }

        .digest{
            width: 1140px;
            height: 390px;
            margin-top: 200px;
            border: 2px solid #2A3744;
            border-radius: 30px;
            h2{
                font-size: 54px;
                line-height: 80px;
            }
            p{
                font-size: 36px;
                margin-top: 26px;
                opacity: 0.6;

                br{
                    display: none;
                }
            }
            div{
                flex-direction: row;
                width: 730px;
                column-gap: 24px;
                padding-top: 64px;

                input{
                    width: 70%;
                    height: 68px;
                    padding: 0 28px;
                    border-radius: 16px;
                    margin-bottom: 0;
                    font-size: 20px;
                }
                a{
                    width: 25%;
                    height: 68px;
                    transform: scale(1);
                    transition-duration: 250ms;

                    button{
                        border-radius: 16px;
                        padding: 16px 35px;
                        height: 100%;
                        font-size: 20px;
                    }
                    button:hover{
                        cursor: pointer;
                    }
                }
                a:hover{
                    transform: scale(1.2);
                    cursor: pointer;
                }

            }
        }

        .press{
            margin-top: 200px;
            .press-arrow__mobile{
                display: none;
            }

            .press-title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                h2{
                    justify-self: flex-start;
                    font-size: 54px;
                    line-height: 80px;
                }

                .press-arrow__desktop{
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    p{
                        margin-right: 8px;
                        color: #8395A7;
                        font-family: $principal-font;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                        text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
                    }
                }
            }

            .press-cards__mobile{
                display: none;
            }

            .press-cards__desktop{
                display: flex;
                flex-direction: row;
                column-gap: 28px;

                .press-card{
                    display: flex;
                    flex-direction: column;
                    width: 361px;
                    height: 382px;
                    border-radius: 20px;
                    background-color: #77E6FF;
                    margin-bottom: 16px;
    
                img{
                    width: 192px;
                    height: 50px;
                    margin-left: 20px;
                    margin-top: 30px;
                }
    
                p:nth-child(3){
                    color: #10151A;
                    font-family: $principal-font;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 29px;
                    margin: 0;
                    margin-top: 12px;
                    margin-left: 28px;
                }
                p:nth-child(2){
                    color: #10151A;
                    font-family: $principal-font;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    margin: 0;
                    margin-top: 21px;
                    margin-left: 28px;
                }
    
                a{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 28px;
                    margin: 0;
                    margin-top: 36px;
    
                    p{
                        margin-right: 8px;
                        color: #10151A;
                        font-family: $principal-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
            
    
            .press-card2{
                background-color: #E2C1F9;
            }
            .press-card3{
                background-color: #DBE268;
            }
            }
        }

        .podcasts{
            .podcasts-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h2{
                    margin: 0;
                    font-size: 54px;
                    line-height: 80px;
                }
                .podcasts-arrow__desktop{
                    display: flex;
                    margin: 0;
                    p{
                        font-size: 22px;
                        line-height: 40px;
                    }
                }
            }

            .podcasts-cards-container {
                flex-direction: row;
                column-gap: 28px;
                margin-top: 28px;
                .podcasts-card-bigger{
                    margin: 0;
                    height: auto;
                }
                .podcasts-card{
                    width: 361px;
                    height: 334px;

                    img{
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        margin-top: 20px;
                    }

                    .podcast-title{
                        font-size: 20px;
                        line-height: 28px;
                        margin-top: 21px;
                        margin-bottom: 18px;
                    }
                    p{
                        font-size: 17px;
                        line-height: normal;
                    }
                    a{
                        margin-top: 61px;
                        justify-self: flex-end;
                    }
                }
            }
            .podcasts-arrow__mobile{
                display: none;
            }
        }
    }
}