@media (min-width: 1024px) {//media para pantallas igual o mayor a 760px
    
    header{
        height: 104px;//Se ajusta el nuevo height del header para tablet y desktop

        .header-container{//Se ajusta el nuevo size del contenido del header
            width: 1140px;
            max-width: none;
            padding: 0;

            .header-logo-desktop{
                display: contents;
            }

            .header-logo-mobile{
                display: none;
            }

            .header-nav, .button{//Se despliega el nav-bar y login button
                display: contents;
            }

            .header-hamburguer{//Se oculta el menu hamburguer
                display: none;
            }

            .header-nav{//Se dan estilos al nav-bar para que se imprima correctamente
                ul{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    list-style: none;
                    color: $main-text-color;
                    font-family: $principal-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    gap: 44px;
                }
            }

            .login-button{//Damos estilos al login-button
                button{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 92px;
                    height: 44px;
                    border-radius: 12px;
                    background-color: #243241;
                    border: none;
                    color: white;
                    font-family: $principal-font;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: normal;
                    padding: 8px 16px;
                    display: inline-flex;
                    gap: 12px;
                    transform: scale(1);
                    transition-duration: 250ms;
                }

                button:hover{//cuando pasemos el cursor por el login-button, este hara las sig. acciones
                    background-color: #5d84ad;
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

    main{
        max-width: 1140px;
        margin-top: 132px;
        .hero{
            h1{
                font-size: 72px;
                line-height: 82px;
            }
            p{
                font-size: 26px;
                line-height: 46px;
                margin-top: 32px;

                .desktop-br{
                    display: initial;
                }
            }
            .hero-button{
                margin-top: 56px;

                button{
                    width: 214px;
                    height: 68px;
                    border-radius: 16px;
                    font-size: 20px;
                    line-height: 36px;
                    transform: scale(1);
                    transition-duration: 250ms;
                }
                button:hover{//cuando pasemos el cursor por el login-button, este hara las sig. acciones
                    cursor: pointer;
                    transform: scale(1.2);
                }
                
            }
        }

        .projects, .designed-for, .app, .works-with, .masters, .press, .podcasts, .ideas{
            h2{
                font-size: 54px;
                line-height: 80px;
                br{
                    display: none;
                }
            }
        }

        .projects{
            margin-top: 204px;

            .projects-examples{
                max-width: 890px;
                gap: 24px;
                margin-top: 44px;

                .project{
                    height: 56px;
                    padding: 8px 26px;
                    font-size: 20px;
                    line-height: 40px;
                    align-items: center;
                }
            }

            .projects-album{
                display: none;
            }
            .projects-album__desktop{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin-top: 52px;
    
                img{
                    border-radius: 30px;
                }
                button{
                    position: absolute;
                    //Posicionamiento
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    //shapes & sizes
                    border-radius: 100px;
                    //colors
                    background-color: #FFCF01;
                    box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
                    //fonts
                    font-family: $principal-font;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 32px;
                    translate: 0 475px;
                    padding: 6px 24px;
                }
            }
        }

        .designed-for{
            margin-top: 178px;

            div{
                gap: 20px;

                .design-paragraph{
                    font-size: 54px;
                    line-height: 64px;
                }
                .design-paragraph:hover{
                    color: #23C9DE;
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }

        .app{
            margin-top: 200px;

            div{
                column-gap: 40px;
                margin-top: 42px;

                p{
                    font-size: 22px;
                    line-height: 40px;
                }
                p:nth-child(1){
                    color: #8395A7;
                }
                p:hover{
                    color: #FFC803;
                    cursor: pointer;
                }
            }

            .app-img__mobile{
                display: none;
            }

            .app-img__desktop{
                display: flex;
                margin-top: 46px;
            }

            .watch-button{
                margin-top: 44px;
                button{
                    padding: 16px 56px 16px 48px;
                    width: 280px;
                    height: 68px;
                    font-size: 20px;
                    line-height: 36px;
                    transform: scale(1);
                    transition-duration: 250ms;
                }
                button:hover{
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }
}