//variables generales
$principal-font: 'Montserrat', sans-serif;
$main-text-color: #fff;
$card-text-color: #000;


//estilos globales
body{
    margin: 0;
    padding: 0;
    background-color: #0A1117;
}

a{
    text-decoration: none;
    color: $main-text-color;
}

a:hover{
    cursor: pointer;
}





//Estilos especificos
header{//empezamos a estilizar el header para mobile
    display: flex;
    justify-content: center;
    height: 56px;

    .header-container{//Se estiliza el contenido general del header
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        padding: 16px;
        
        .header-nav, .button{//display:none para ocultar el nav-bar y login button en mobile-first
            display: none;
        }
    }    
}

main{//Estilizamos el main para que este crezca a un width especifico
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 328px;
    margin: 0 auto;

    .hero{//Se estiliza el hero-section 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        h1, p{//Damos estilos en comun al titulo y al parrafo dentro del hero
            color: $main-text-color;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: $principal-font;
        }

        h1{
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
        }

        p{
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 16px;
        }

        .hero-button{//Damos estilos al hero-button
            button{
                //Posicionamiento
                margin-top: 40px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                //shapes & sizes
                width: 145px;
                height: 46px;
                border-radius: 12px;
                //colors
                background-color: #FFCF01;
                box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
                //fonts
                font-family: $principal-font;
                font-size: 15px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        
        h1, p{//Damos estilos en comun al titulo y al parrafo dentro de projects
            color: $main-text-color;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: $principal-font;
        }

        h1{
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
        }

        .projects-examples{
            display: flex;
            flex-wrap: wrap;
            margin-top: 24px;
            max-width: 328px;
            justify-content: center;
            gap: 8px;
            
            .project{
                display: inline-flex;
                height: 40px;
                padding: 12px 14px;
                border-radius: 45px;
                background: #182632;
                border: none;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
            }
            
            .project1, .project6{
                color: #FFB4D3;
            }
            .project2{
                color: #FFC24C;
            }
            .project3{
                color: #D387F7;
            }
            .project4{
                color: #77E6FF;
            }
            .project5{
                color: #23C9DE;
            }
            .more{
                color: #707F8D;
            }
        }

        .projects-album{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 24px;

            img{
                border-radius: 24px;
            }
            button{
                position: absolute;
                //Posicionamiento
                display: inline-flex;
                justify-content: center;
                align-items: center;
                //shapes & sizes
                border-radius: 12px;
                //colors
                background-color: #FFCF01;
                box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
                //fonts
                font-family: $principal-font;
                font-size: 15px;
                font-weight: 700;
                line-height: 30px;
                translate: 0 305px;
            }
        }
    }

    .designed-for{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin-top: 65px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .design-paragraph{
                font-family: $principal-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                color: #37424D;
                margin: 0;
                transform: scale(1);
                transition-duration: 250ms;
            }
            .design-paragraph:active{
                color: #23C9DE;
                transform: scale(1.2);
            }
        }
    }

    .app{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        
        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
        }

        div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 12px;
            margin-top: 24px;

            p{
                margin: 0;
                font-family: $principal-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 17.976px;
                color: #8395A7;
            }
            p:nth-child(1){
                color: #FFC803;
            }
        }

        .watch-button{
            button{
                //Posicionamiento
                padding: 4px 29px 4px 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                //shapes & sizes
                width: 190px;
                height: 44px;
                border-radius: 8px;
                border: none;
                //colors
                background-color: rgba(255, 207, 1, 0.15);
                //fonts
                font-family: $principal-font;
                font-size: 15px;
                font-weight: 700;
                line-height: 36px;
                color: #FFCF01;
            }
        }
    }
}







@media (min-width: 760px) {//media para pantallas igual o mayor a 760px
    header{
        height: 86px;//Se ajusta el nuevo height del header para tablet y desktop

        .header-container{//Se ajusta el nuevo size del contenido del header
            width: 736px;
            max-width: none;
            padding: 0;

            .header-nav, .button{//Se despliega el nav-bar y login button
                display: block;
            }

            .header-hamburguer{//Se oculta el menu hamburguer
                display: none;
            }

            .header-nav{//Se dan estilos al nav-bar para que se imprima correctamente
                ul{
                    display: flex;
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    list-style: none;
                    color: $main-text-color;
                    font-family: $principal-font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    gap: 24px;
                }
            }

            .login-button{//Damos estilos al login-button
                button{
                    width: 67px;
                    height: 31px;
                    border-radius: 8px;
                    background-color: #243241;
                    border: none;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 8px 16px;
                    display: inline-flex;
                    gap: 12px;
                    transform: scale(1);
                    transition-duration: 1s;
                }

                button:hover{//cuando pasemos el cursor por el login-button, este hara las sig. acciones
                    background-color: #5d84ad;
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }
    main{//Se ajusta el nuevo width del main
        max-width: 736px;
        .hero{
            h1{//cambiamos los font sizes del titulo y del parrafo
                font-size: 56px;
                line-height: 60px;
            }

            p{
                font-size: 20px;
                line-height: 34px;
            }
            .hero-button{
                button{//Modificamos el size del hero-button
                    width: 176px;
                    height: 56px;
                    font-size: 17px;
                    transform: scale(1);//se agrega la posicion inicial del boton
                    transition-duration: 1s;//se agrega la duracion de la animacion
                }
                button:hover{//se le agregan estilos al boton
                    cursor: pointer;
                    transform: scale(1.2);//se agrega la posicion final del boton al hacer hover
                }
            }
        }
        .projects{
            .projects-br{
                display: none;
            }
            h1{
                font-size: 36px;
                line-height: 36px;
            }
            .projects-examples{
                max-width: 720px;
                gap: 20px;
            }
        }
        .designed-for{
            div{
                .design-paragraph{
                    text-align: center;
                    transition-duration: 500ms;
                    font-size: 32px;
                    line-height: 50px;
                }
                .design-paragraph:hover{
                    color: #23C9DE;
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }
    }
}