//variables generales
$principal-font: 'Montserrat', sans-serif;
$main-text-color: #fff;
$card-text-color: #000;


//estilos globales
body{
    margin: 0;
    padding: 0;
    background-color: #0A1117;
}

a{
    text-decoration: none;
    color: $main-text-color;
}

a:hover{
    cursor: pointer;
}





//Estilos especificos
header{//empezamos a estilizar el header para mobile
    display: flex;
    justify-content: center;
    height: 56px;

    .header-container{//Se estiliza el contenido general del header
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        padding: 16px;

        .header-logo-mobile{
            display: contents;
        }
        .header-logo-desktop{
            display: none;
        }
        
        .header-nav, .button{//display:none para ocultar el nav-bar y login button en mobile-first
            display: none;
        }
    }    
}

main{//Estilizamos el main para que este crezca a un width especifico
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 328px;
    margin: 0 auto;

    .hero{//Se estiliza el hero-section 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        h1, p{//Damos estilos en comun al titulo y al parrafo dentro del hero
            color: $main-text-color;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: $principal-font;
        }

        h1{
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px;
        }

        p{
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-top: 16px;

            .desktop-br{
                display: none;
            }
        }

        .hero-button{//Damos estilos al hero-button
            margin-top: 40px;
            button{
                //Posicionamiento
                display: inline-flex;
                justify-content: center;
                align-items: center;
                //shapes & sizes
                width: 145px;
                height: 46px;
                border-radius: 12px;
                //colors
                background-color: #FFCF01;
                box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
                //fonts
                font-family: $principal-font;
                font-size: 15px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        
        h2, p{//Damos estilos en comun al titulo y al parrafo dentro de projects
            color: $main-text-color;
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: $principal-font;
        }

        h2{
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
        }

        .projects-examples{
            display: flex;
            flex-wrap: wrap;
            margin-top: 24px;
            max-width: 328px;
            justify-content: center;
            gap: 8px;
            
            .project{
                display: inline-flex;
                height: 40px;
                padding: 12px 14px;
                border-radius: 45px;
                background: #182632;
                border: none;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
            }
            
            .project1, .project6{
                color: #FFB4D3;
            }
            .project2{
                color: #FFC24C;
            }
            .project3{
                color: #D387F7;
            }
            .project4{
                color: #77E6FF;
            }
            .project5{
                color: #23C9DE;
            }
            .more{
                color: #707F8D;
            }
        }
        .projects-album__desktop{
            display: none;
        }
        
        .projects-album{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 24px;

            img{
                border-radius: 24px;
            }
            button{
                position: absolute;
                //Posicionamiento
                display: inline-flex;
                justify-content: center;
                align-items: center;
                //shapes & sizes
                border-radius: 12px;
                //colors
                background-color: #FFCF01;
                box-shadow: 0px 7px 36px 0px rgba(255, 207, 1, 0.20);
                //fonts
                font-family: $principal-font;
                font-size: 15px;
                font-weight: 700;
                line-height: 30px;
                translate: 0 305px;
            }
        }
    }

    .designed-for{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin-top: 65px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .design-paragraph{
                font-family: $principal-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                color: #37424D;
                margin: 0;
                transform: scale(1);
                transition-duration: 250ms;
            }
            .design-paragraph:active{
                color: #23C9DE;
                transform: scale(1.2);
            }
        }
    }

    .app{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        
        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
        }

        div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 12px;
            margin-top: 24px;

            p{
                margin: 0;
                font-family: $principal-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 17.976px;
                color: #8395A7;
            }
            p:nth-child(1){
                color: #FFC803;
            }
        }

        .watch-button{
            button{
                //Posicionamiento
                padding: 4px 29px 4px 30px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                //shapes & sizes
                width: 190px;
                height: 44px;
                border-radius: 8px;
                border: none;
                //colors
                background-color: rgba(255, 207, 1, 0.15);
                //fonts
                font-family: $principal-font;
                font-size: 15px;
                font-weight: 700;
                line-height: 36px;
                color: #FFCF01;
            }
        }
    }

    .works-with{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
        }

        .icons-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 24px;
            margin-top: 24px;


            .icon{
                display: flex;
                flex-direction: column;
                align-items: center;

                div{
                    display: flex;
                    width: 84px;
                    height: 84px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    border: 0.957px solid #2A3744;
                    background: #121E28;
                }

                p{
                    font-family: $principal-font;
                    text-align: center;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 17.976px;
                    color: $main-text-color;
                    margin: 0;
                    margin-top: 12px;
                }
            }
        }
    }

    .masters{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
        }

        .masters-gallery{
            display: flex;
            flex-wrap: wrap-reverse;
            padding: 0 20px;
            justify-content: center;
            gap: 16px;
            margin-top: 33px;

            .masters-photo{
                width: 73px;
                height: 73px;
                border-radius: 15px;
            }
            .photo1{
                background-image: url(../assets/img/person_03.png);
                background-size: cover;
            }
            .photo2{
                background-image: url(../assets/img/person_04.png);
                background-size: cover;
            }
            .photo3{
                background-image: url(../assets/img/person_05.png);
                background-size: cover;
            }
            .photo4{
                background-image: url(../assets/img/person_01.png);
                background-size: cover;
            }
            .photo5{
                background-image: url(../assets/img/person_02.png);
                background-size: cover;
            }
        }

        .masters-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
            margin-top: 35px;

            p{
                font-family: $principal-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $main-text-color;
                margin: 0 5px;
            }
        }
    }

    .digest{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 328px;
        height: 280px;
        background-color: #14212D;
        border: 1px solid #2A3744;
        border-radius: 22px;
        margin-top: 80px;

        h2{
            text-align: center;
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            color: $main-text-color;
            margin: 0;
            margin-top: 28px;
        }

        p{
            text-align: center;
            font-family: $principal-font;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            color: #9AAFC3;
            padding: 0 24px;
            margin: 0;
            margin-top: 8px;
            margin-bottom: 24px;
        }

        input{
            width: 80%;
            background: #121E28;
            padding: 13px 18px;
            border-radius: 10px;
            border: 1px solid #2A3744;
            font-family: $principal-font;
            color: #3D4C5B;
            margin-bottom: 16px;
        }

        a{
            width: 90%;
            button{
                width: 100%;
                border-radius: 10px;
                background-color:  #E2C1F9;
                padding: 13px 18px;
                color: #10151A;
                text-align: center;
                font-family: $principal-font;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }

    .press{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;

        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
            margin-bottom: 24px;
        }

        .press-card{
            display: flex;
            flex-direction: column;
            width: 328px;
            height: 262px;
            border-radius: 20px;
            background-color: #77E6FF;
            margin-bottom: 16px;

            img{
                width: 192px;
                height: 50px;
                margin-left: 20px;
                margin-top: 20px;
            }

            p:nth-child(3){
                color: #10151A;
                font-family: $principal-font;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                margin: 0 20px;
                margin-top: 8px;
            }
            p:nth-child(2){
                color: #10151A;
                font-family: $principal-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                margin: 0 20px;
                margin-top: 12px;
            }

            a{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 20px;

                p{
                    margin-right: 8px;
                    color: #10151A;
                    font-family: $principal-font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
        

        .press-card2{
            background-color: #E2C1F9;
        }
        .press-card3{
            background-color: #DBE268;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                margin-right: 8px;
                color: #8395A7;
                font-family: $principal-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
            }
        }
    }

    .podcasts{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
            margin-bottom: 24px;
        }
        .podcasts-card{
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            border: 2px solid #2A3744;
            background: #121E28;
            backdrop-filter: blur(2px);
            width: 328px;
            height: 236px;

            img{
                width: 40px;
                height: 40px;
                margin-left: 20px;
                margin-top: 20px;
            }
            .podcast-title{
                font-size: 17px;
                font-weight: 700;
                line-height: 24px;
                color: $main-text-color;
                margin: 16px 20px 12px;
                opacity: 1;
            }
            p{
                font-family: $principal-font;
                color: #E2E2E2;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                opacity: 0.8;
                margin: 0 20px;
            }
            a{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 16px;

                p{
                    font-family: $principal-font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    opacity: 1;
                    margin-right: 4px;
                }
            }  
        }
        .podcasts-card-bigger{
            height: 260px;
            margin: 16px 0;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;

            p{
                margin-right: 8px;
                color: #8395A7;
                font-family: $principal-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
            }
        }
    }

    .ideas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        h2{
            font-family: $principal-font;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            text-align: center;
            color: $main-text-color;
            margin: 0;
        }
        p{
            color: #5A6C7E;
            text-align: center;
            font-family: $principal-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            margin: 0;
            margin-top: 12px;
        }
        .ideas-card{
            width: 200px;
            height: 60px;
            border-radius: 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 8px;
            margin-top: 32px;

            img{
                width: 44px;
                height: 44px;
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                margin-left: 12px;

                .ideas-card-title{
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                }
                p{
                    color: #4D3705;
                    font-family: $principal-font;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                }
            }
        }
        .telegram{
            background-color: #FFC803;
        }
        .email{
            background-color: #E2C1F9;
            margin-top: 16px;
            margin-bottom: 80px;
            div{
                p{
                    color: #40354B;
                }
            }
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding: 32px 70px;
    background-color: #121E28;

    .footer-links{
        display: flex;
        justify-content: center;
        gap: 40px;

        p{
            font-family: $principal-font;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0;
        }
    }

    .footer-logos{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@import '_desktop.scss';